# Node dependencies
node_modules/

# Build outputs
dist/
build/
character_images/

# Testing
coverage/
.nyc_output/
*.test.tsx
testHelpers/
cardshark.sqlite


# Environment files
.env
.env.local
.env.*.local


# IDE files
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
Thumbs.db
*.sqlite
Beekeeper*.*
defaults/
backend/assets/

# Temporary files
*.tmp
*.bak
.temp/
nul

cards/
__pycache__/
v2_schema.json
worldInfo.md
v2.json
legacy/
settings.json
active_filters.json
users/
__tests__/
context/
backgrounds/
Characters/
site-Home/
koboldcpp/
worlds/
docs/docs/archivedOLD
world_assets/
uploads/
beekeeper_studio_data/
gallery_images/

*.spec
crawlsite.py

# windsurf rules
.windsurfrules
content_filters/active_filters.json
